
.button{
  border: 0;
  background-color: $teal;
}

.material-button{
  padding: .75rem 1rem;
  margin: 0 50%;
  color: lighten($blue, 50%);
  transform: translateX(-50%);
  transition: all 0.5s ease;
  &:hover, &:focus{
    box-shadow: .1rem .1rem .5rem 0 rgba(0,0,0,.33);
    text-shadow: 0 1px #e9e9e9;
    background: $teal;
    font-size: 1.15em;
    color: lighten($teal, 75%);
  }
}
